{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "Traefik & Brain dashboard prometheus",
  "editable": true,
  "gnetId": 4475,
  "graphTooltip": 1,
  "id": null,
  "iteration": 1609241787644,
  "links": [],
  "panels": [
    {
      "aliasColors": {},
      "breakPoint": "50%",
      "cacheTimeout": null,
      "combine": {
        "label": "Others",
        "threshold": 0
      },
      "datasource": "Prometheus",
      "decimals": null,
      "fontSize": "80%",
      "format": "short",
      "gridPos": {
        "h": 4,
        "w": 8,
        "x": 0,
        "y": 0
      },
      "id": 14,
      "interval": null,
      "legend": {
        "header": "",
        "percentage": true,
        "show": true,
        "values": true
      },
      "legendType": "Right side",
      "links": [],
      "maxDataPoints": 3,
      "nullPointMode": "connected",
      "pieType": "donut",
      "strokeWidth": 1,
      "targets": [
        {
          "expr": "sum(delta(traefik_backend_requests_total[1h])) by (instance)",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "{{ instance }}",
          "refId": "A"
        }
      ],
      "title": "Last Hour Total request / node",
      "type": "grafana-piechart-panel",
      "valueName": "current"
    },
    {
      "aliasColors": {},
      "breakPoint": "50%",
      "cacheTimeout": null,
      "combine": {
        "label": "Others",
        "threshold": 0
      },
      "datasource": "Prometheus",
      "fontSize": "100%",
      "format": "short",
      "gridPos": {
        "h": 4,
        "w": 8,
        "x": 8,
        "y": 0
      },
      "id": 12,
      "interval": null,
      "legend": {
        "percentage": true,
        "percentageDecimals": 0,
        "show": true,
        "values": true
      },
      "legendType": "Right side",
      "links": [],
      "maxDataPoints": 3,
      "nullPointMode": "connected",
      "pieType": "donut",
      "strokeWidth": 1,
      "targets": [
        {
          "expr": "sum(delta(traefik_backend_requests_total[1h])) by (method)",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "{{ method }}",
          "refId": "A"
        }
      ],
      "title": "Last Hour Total requests / Method",
      "type": "grafana-piechart-panel",
      "valueName": "current"
    },
    {
      "aliasColors": {},
      "breakPoint": "50%",
      "cacheTimeout": null,
      "combine": {
        "label": "Others",
        "threshold": "0.01"
      },
      "datasource": "Prometheus",
      "fontSize": "80%",
      "format": "short",
      "gridPos": {
        "h": 4,
        "w": 8,
        "x": 16,
        "y": 0
      },
      "hideTimeOverride": false,
      "id": 2,
      "interval": null,
      "legend": {
        "header": "",
        "percentage": true,
        "show": true,
        "values": true
      },
      "legendType": "Right side",
      "links": [],
      "maxDataPoints": 3,
      "nullPointMode": "connected",
      "pieType": "donut",
      "repeat": null,
      "repeatDirection": "h",
      "strokeWidth": 1,
      "targets": [
        {
          "expr": "sum(delta(traefik_backend_requests_total{backend=\"$backend\"}[1h])) by (code)",
          "format": "time_series",
          "hide": false,
          "instant": false,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{ code }} ",
          "refId": "A"
        }
      ],
      "timeFrom": null,
      "title": "Last Hour Total requests / Error code",
      "transparent": false,
      "type": "grafana-piechart-panel",
      "valueName": "current"
    },
    {
      "cards": {
        "cardPadding": null,
        "cardRound": null
      },
      "color": {
        "cardColor": "#b4ff00",
        "colorScale": "sqrt",
        "colorScheme": "interpolateGreys",
        "exponent": 0.5,
        "max": null,
        "min": null,
        "mode": "opacity"
      },
      "dataFormat": "tsbuckets",
      "datasource": "Prometheus",
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 0,
        "y": 4
      },
      "heatmap": {},
      "highlightCards": true,
      "id": 22,
      "legend": {
        "show": true
      },
      "links": [],
      "targets": [
        {
          "expr": "sum(delta(traefik_entrypoint_request_duration_seconds_bucket{code=~\"[23]..\"}[1m])) by (le)",
          "format": "heatmap",
          "interval": "5m",
          "intervalFactor": 1,
          "legendFormat": "{{le}}",
          "refId": "A"
        }
      ],
      "title": "Response Time HeatMap for OK rqs (2XX & 3XX)",
      "tooltip": {
        "show": true,
        "showHistogram": true
      },
      "type": "heatmap",
      "xAxis": {
        "show": true
      },
      "xBucketNumber": null,
      "xBucketSize": null,
      "yAxis": {
        "decimals": null,
        "format": "s",
        "logBase": 1,
        "max": null,
        "min": null,
        "show": true,
        "splitFactor": null
      },
      "yBucketBound": "auto",
      "yBucketNumber": null,
      "yBucketSize": null
    },
    {
      "cards": {
        "cardPadding": null,
        "cardRound": null
      },
      "color": {
        "cardColor": "#bf1b00",
        "colorScale": "sqrt",
        "colorScheme": "interpolateGreys",
        "exponent": 0.5,
        "max": null,
        "min": null,
        "mode": "opacity"
      },
      "dataFormat": "tsbuckets",
      "datasource": "Prometheus",
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 8,
        "y": 4
      },
      "heatmap": {},
      "highlightCards": true,
      "id": 24,
      "legend": {
        "show": true
      },
      "links": [],
      "targets": [
        {
          "expr": "sum(delta(traefik_entrypoint_request_duration_seconds_bucket{code=~\"404|5..\"}[1m])) by (le)",
          "format": "heatmap",
          "interval": "5m",
          "intervalFactor": 1,
          "legendFormat": "{{le}}",
          "refId": "A"
        }
      ],
      "title": "Response Time HeatMap for Errors (4XX & 5XX)",
      "tooltip": {
        "show": true,
        "showHistogram": true
      },
      "type": "heatmap",
      "xAxis": {
        "show": true
      },
      "xBucketNumber": null,
      "xBucketSize": null,
      "yAxis": {
        "decimals": null,
        "format": "s",
        "logBase": 1,
        "max": null,
        "min": null,
        "show": true,
        "splitFactor": null
      },
      "yBucketBound": "auto",
      "yBucketNumber": null,
      "yBucketSize": null
    },
    {
      "cards": {
        "cardPadding": null,
        "cardRound": null
      },
      "color": {
        "cardColor": "#eab839",
        "colorScale": "sqrt",
        "colorScheme": "interpolateGreys",
        "exponent": 0.5,
        "max": null,
        "min": null,
        "mode": "opacity"
      },
      "dataFormat": "tsbuckets",
      "datasource": "Prometheus",
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 16,
        "y": 4
      },
      "heatmap": {},
      "highlightCards": true,
      "id": 25,
      "legend": {
        "show": true
      },
      "links": [],
      "targets": [
        {
          "expr": "sum(delta(traefik_entrypoint_request_duration_seconds_bucket{code=~\"403\"}[1m])) by (le)",
          "format": "heatmap",
          "interval": "5m",
          "intervalFactor": 1,
          "legendFormat": "{{le}}",
          "refId": "A"
        }
      ],
      "title": "Response Time HeatMap for Rejects",
      "tooltip": {
        "show": true,
        "showHistogram": true
      },
      "type": "heatmap",
      "xAxis": {
        "show": true
      },
      "xBucketNumber": null,
      "xBucketSize": null,
      "yAxis": {
        "decimals": null,
        "format": "s",
        "logBase": 1,
        "max": null,
        "min": null,
        "show": true,
        "splitFactor": null
      },
      "yBucketBound": "auto",
      "yBucketNumber": null,
      "yBucketSize": null
    },
    {
      "aliasColors": {},
      "bars": true,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 9
      },
      "id": 10,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "hideEmpty": true,
        "hideZero": true,
        "max": true,
        "min": true,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": false,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "alias": "total",
          "color": "#f9d9f9",
          "stack": false,
          "zindex": -1
        },
        {
          "alias": "connections",
          "bars": false,
          "lines": true,
          "stack": false,
          "yaxis": 2
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(delta(traefik_service_requests_total{service=\"proxy-ogo@etcd\"}[60s])) by (code)",
          "format": "time_series",
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{ code }}",
          "refId": "A"
        },
        {
          "expr": "sum(delta(traefik_service_requests_total[60s]))",
          "format": "time_series",
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "total",
          "refId": "B"
        },
        {
          "expr": "sum(traefik_service_open_connections{service=\"proxy-ogo@etcd\"})",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "connections",
          "refId": "C"
        }
      ],
      "thresholds": [
        {
          "colorMode": "critical",
          "fill": true,
          "line": true,
          "op": "gt",
          "yaxis": "left"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Total Rq/mn per Status code",
      "tooltip": {
        "shared": true,
        "sort": 2,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": true,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 13
      },
      "id": 20,
      "interval": "15s",
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": true,
        "values": true
      },
      "lines": false,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "alias": "invalidated",
          "color": "#890f02"
        },
        {
          "alias": "validated",
          "color": "#3f6833"
        },
        {
          "alias": "banned_clients_total",
          "color": "#e5ac0e"
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(delta(ogo_requests_brain_validated_total[60s]))",
          "format": "time_series",
          "hide": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "validated",
          "refId": "B"
        },
        {
          "expr": "sum(delta(ogo_rejected_execution_banned_clients_total[60s]))",
          "format": "time_series",
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "banned_clients_total",
          "refId": "D"
        },
        {
          "expr": "sum(delta(ogo_requests_brain_invalidated_total[60s]))",
          "format": "time_series",
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "invalidated",
          "refId": "A"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Brain Activity",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 17
      },
      "id": 39,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "alias": "Max",
          "color": "#fce2de",
          "stack": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(ogo_tpe_active_count) by (instance)",
          "format": "time_series",
          "hide": false,
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{instance}}",
          "refId": "A"
        },
        {
          "expr": "sum(ogo_tpe_pool_size)",
          "format": "time_series",
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "Max",
          "refId": "B"
        }
      ],
      "thresholds": [
        {
          "colorMode": "critical",
          "fill": true,
          "line": true,
          "op": "gt",
          "yaxis": "left"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Active Thread per Instance",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 21
      },
      "id": 40,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [
        {
          "alias": "Max",
          "color": "#fce2de",
          "stack": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(ogo_tpe_queue_size+ogo_tpe_remaining_capacity)",
          "format": "time_series",
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "Max",
          "refId": "B"
        },
        {
          "expr": "sum(ogo_tpe_queue_size) by (instance)",
          "format": "time_series",
          "hide": false,
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{instance}}",
          "refId": "A"
        }
      ],
      "thresholds": [
        {
          "colorMode": "critical",
          "fill": true,
          "line": true,
          "op": "gt",
          "yaxis": "left"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Thread Pool Queue usage",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 25
      },
      "id": 29,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "sort": null,
        "sortDesc": null,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": true,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "repeat": "host",
      "repeatDirection": "v",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum by (mode) (irate(node_cpu_seconds_total{}[5m]))",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{mode}}",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "CPU Load (All hosts)",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "decimals": 1,
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "decimals": 1,
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 29
      },
      "id": 27,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": false,
        "hideZero": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "sort": null,
        "sortDesc": null,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "minSpan": 12,
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "repeat": "memarea",
      "repeatDirection": "h",
      "seriesOverrides": [
        {
          "alias": "Heap Usage %",
          "color": "#6d1f62",
          "lines": true,
          "yaxis": 2,
          "zindex": 3
        },
        {
          "alias": "Used",
          "bars": true,
          "color": "#508642",
          "lines": false,
          "stack": "A"
        },
        {
          "alias": "Non heap",
          "bars": true,
          "color": "#1f78c1",
          "lines": false,
          "stack": "A"
        }
      ],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(jvm_memory_bytes_used{area=\"heap\"})",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "Used",
          "refId": "A"
        },
        {
          "expr": "sum(jvm_memory_bytes_max)",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "Max",
          "refId": "B"
        },
        {
          "expr": "avg(jvm_memory_bytes_used{area=\"heap\"} / jvm_memory_bytes_max >= 0)",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "Heap Usage %",
          "refId": "C"
        },
        {
          "expr": "sum(jvm_memory_bytes_used{area=\"nonheap\"})",
          "format": "time_series",
          "intervalFactor": 1,
          "legendFormat": "Non heap",
          "refId": "D"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "JVM Memory usage (sum on all instances)",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "bytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "percentunit",
          "label": "",
          "logBase": 1,
          "max": "1",
          "min": "0",
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "Anonymous": "#447EBC",
        "Buffers": "#FCEACA",
        "Cached": "#3F2B5B",
        "Free": "#3F6833",
        "Hugepages Free": "#B7DBAB",
        "Hugepages Reserved": "#F2C96D",
        "Hugepages Used": "#BF1B00",
        "Kernel Stack": "#70DBED",
        "Mapped and Cached": "#e24d42",
        "Mapped or Cached": "#BF1B00",
        "Page Tables": "#E5A8E2",
        "Shared memory smallpages": "#962D82",
        "Slab": "#EAB839",
        "Unaccounted For": "#F29191"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "decimals": 0,
      "fill": 1,
      "gridPos": {
        "h": 5,
        "w": 24,
        "x": 0,
        "y": 33
      },
      "id": 31,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "sort": null,
        "sortDesc": null,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "repeat": null,
      "repeatDirection": "v",
      "seriesOverrides": [
        {
          "alias": "Unaccounted For",
          "legend": false
        },
        {
          "alias": "/Buffers/",
          "color": "#1f78c1",
          "legend": false
        },
        {
          "alias": "/Kernel/",
          "color": "#890f02",
          "legend": false
        },
        {
          "alias": "/Slab/",
          "color": "#e5ac0e"
        },
        {
          "alias": "/Page /",
          "color": "#58140c",
          "legend": false
        },
        {
          "alias": "/Swap/",
          "color": "#f9934e",
          "legend": false
        },
        {
          "alias": "/Anony/",
          "color": "#584477"
        },
        {
          "alias": "/Free/",
          "color": "#508642"
        },
        {
          "alias": "/Mapped/",
          "color": "#447ebc"
        },
        {
          "alias": "/Hugepage/",
          "legend": false
        },
        {
          "alias": "/Shared/",
          "color": "#aea2e0",
          "legend": false
        }
      ],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "node_memory_MemTotal_bytes-node_memory_MemFree_bytes-node_memory_KernelStack_bytes-node_memory_AnonPages_bytes-node_memory_PageTables_bytes-node_memory_Slab_bytes-node_memory_Cached_bytes-node_memory_SwapCached_bytes-node_memory_Buffers_bytes-(node_memory_HugePages_Total*2097152)",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Unaccounted For",
          "metric": "node_memory_MemTotal",
          "refId": "N",
          "step": 2
        },
        {
          "expr": "node_memory_Buffers_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Buffers ({{instance}})",
          "metric": "node_memory_Buffers",
          "refId": "A",
          "step": 2
        },
        {
          "expr": "node_memory_SwapCached_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Swap Cached  ({{instance}})",
          "metric": "node_memory_SwapCached",
          "refId": "K",
          "step": 2
        },
        {
          "expr": "node_memory_KernelStack_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Kernel Stack  ({{instance}})",
          "metric": "node_memory_KernelStack",
          "refId": "D",
          "step": 2
        },
        {
          "expr": "node_memory_Slab_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Slab ({{instance}})",
          "metric": "node_memory_Slab",
          "refId": "I",
          "step": 2
        },
        {
          "expr": "node_memory_PageTables_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Page Tables  ({{instance}})",
          "metric": "node_memory_PageTables",
          "refId": "F",
          "step": 2
        },
        {
          "expr": "node_memory_AnonPages_bytes",
          "format": "time_series",
          "hide": false,
          "intervalFactor": 2,
          "legendFormat": "Anonymous  ({{instance}})",
          "metric": "node_memory_AnonPages",
          "refId": "E",
          "step": 2
        },
        {
          "expr": "node_memory_Shmem_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Shared memory small ({{instance}})",
          "metric": "node_memory_Shmem",
          "refId": "L",
          "step": 2
        },
        {
          "expr": "node_memory_Cached_bytes-node_memory_Shmem_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Mapped and Cached ({{instance}})",
          "metric": "node_memory_Cached",
          "refId": "C",
          "step": 2
        },
        {
          "expr": "node_memory_MemFree_bytes",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Free ({{instance}})",
          "metric": "node_memory_MemFree",
          "refId": "B",
          "step": 2
        },
        {
          "expr": "(node_memory_HugePages_Free-node_memory_HugePages_Rsvd)*2097152",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Hugepages Free ({{instance}})",
          "metric": "node_memory_HugePages_Free",
          "refId": "H",
          "step": 2
        },
        {
          "expr": "node_memory_HugePages_Rsvd*2097152",
          "format": "time_series",
          "hide": false,
          "intervalFactor": 2,
          "legendFormat": "Hugepages Reserved ({{instance}})",
          "metric": "node_memory_HugePages_Rsvd",
          "refId": "G",
          "step": 2
        },
        {
          "expr": "(node_memory_HugePages_Total-node_memory_HugePages_Free)*2097152",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "Hugepages Used ({{instance}})",
          "metric": "node_memory_HugePages_Total",
          "refId": "M",
          "step": 2
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Linux memory distribution",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "decbytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        },
        {
          "format": "decbytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "decimals": 0,
      "fill": 1,
      "gridPos": {
        "h": 3,
        "w": 24,
        "x": 0,
        "y": 38
      },
      "id": 33,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "rabbitmq_queue_messages",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{queue}}:{{durable}}",
          "metric": "rabbitmq_queue_messages",
          "refId": "A",
          "step": 2
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Rabbit Messages / Queue",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": true,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "editable": true,
      "error": false,
      "fill": 1,
      "grid": {},
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 41
      },
      "id": 35,
      "isNew": true,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": false,
      "linewidth": 2,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "idelta(redis_commands_processed_total[1m]) ",
          "format": "time_series",
          "interval": "1m",
          "intervalFactor": 2,
          "legendFormat": "{{instance}}",
          "metric": "A",
          "refId": "A",
          "step": 240,
          "target": ""
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Redis Commands Executed",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "editable": true,
      "error": false,
      "fill": 3,
      "grid": {},
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 45
      },
      "id": 37,
      "isNew": true,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum (redis_db_keys{db=\"db0\"})",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "index 0",
          "refId": "A",
          "step": 240,
          "target": ""
        },
        {
          "expr": "sum (redis_db_keys{db=\"db1\"})",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "index 1",
          "refId": "B",
          "step": 240,
          "target": ""
        },
        {
          "expr": "sum (redis_db_keys{db=\"db2\"})",
          "format": "time_series",
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "index 2",
          "refId": "C",
          "step": 240,
          "target": ""
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Redis Total Items per DB",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "none",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 0,
      "gridPos": {
        "h": 3,
        "w": 24,
        "x": 0,
        "y": 49
      },
      "id": 18,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "hideEmpty": true,
        "hideZero": true,
        "max": true,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(idelta(traefik_backend_request_duration_seconds_sum{backend=\"$backend\"}[1m])) by (code) /sum(idelta(traefik_backend_request_duration_seconds_count{backend=\"$backend\"}[1m])) by (code)",
          "format": "time_series",
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{code}}",
          "refId": "A"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Avg Response time per Status code (1mn)",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "s",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": true,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "description": "",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 52
      },
      "id": 3,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": false,
        "max": true,
        "min": true,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "sortDesc": true,
        "total": false,
        "values": true
      },
      "lines": false,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(idelta(traefik_backend_requests_total{backend=\"$backend\"}[1m]))  by (instance)",
          "format": "time_series",
          "hide": false,
          "instant": false,
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{instance }}",
          "refId": "A"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Total Rq/mn per Node",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": true,
      "dashLength": 10,
      "dashes": false,
      "datasource": "Prometheus",
      "fill": 1,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 56
      },
      "id": 6,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": true,
        "min": true,
        "rightSide": true,
        "show": true,
        "sideWidth": 300,
        "total": false,
        "values": true
      },
      "lines": false,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "expr": "sum(idelta(traefik_backend_requests_total{backend=\"$backend\"}[1m])) by (method)",
          "format": "time_series",
          "interval": "1m",
          "intervalFactor": 1,
          "legendFormat": "{{ method }}",
          "refId": "A"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Total Rq/mn per HTTP method",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }
  ],
  "refresh": "[[ grafana_db_refresh_interval ]]",
  "schemaVersion": 16,
  "style": "dark",
  "tags": [
    "traefik",
    "prometheus",
    "brain"
  ],
  "templating": {
    "list": [
      {
        "current": {
          "text": "proxy-ogo",
          "value": "proxy-ogo"
        },
        "hide": 2,
        "label": null,
        "name": "backend",
        "options": [
          {
            "text": "proxy-ogo",
            "value": "proxy-ogo"
          }
        ],
        "query": "proxy-ogo",
        "type": "constant"
      }
    ]
  },
  "time": {
    "from": "now-[[ grafana_db_time_period ]]",
    "to": "now"
  },
  "timepicker": {
    "hidden": false,
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "",
  "title": "Ogo",
  "uid": "OXCEKs2mz",
  "version": 5
}
