y
y
{% if 'ldap' in zimbra_services %}y{% else %}n{% endif %}

{% if 'logger' in zimbra_services %}y{% else %}n{% endif %}

{% if 'mta' in zimbra_services %}y{% else %}n{% endif %}

{% if 'dnscache' in zimbra_services %}y{% else %}n{% endif %}

{% if 'snmp' in zimbra_services %}y{% else %}n{% endif %}

{% if 'store' in zimbra_services %}y{% else %}n{% endif %}

{% if 'apache' in zimbra_services %}y{% else %}n{% endif %}

{% if 'spell' in zimbra_services %}y{% else %}n{% endif %}

{% if 'memcached' in zimbra_services %}y{% else %}n{% endif %}

{% if 'proxy' in zimbra_services %}y{% else %}n{% endif %}

{% if 'chat' in zimbra_services %}y{% else %}n{% endif %}

{% if 'drive' in zimbra_services %}y{% else %}n{% endif %}

{% if 'imapd' in zimbra_services %}y{% else %}n{% endif %}

y
