AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="no"
ENABLEGALSYNCACCOUNTS="no"
EXPANDMENU="no"
EphemeralBackendURL="ldap://default"
HOSTNAME="{{ zimbra_server }}"
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="{{ zimbra_ldap_server }}"
LDAPPORT="{{ zimbra_ldap_port }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
MODE="{{ zimbra_http_mode }}"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="{{ zimbra_http_mode }}"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SMTPDEST="admin@{{ zimbra_server }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_server }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_server }}"
STARTSERVERS="yes"
UPGRADE="yes"
USEEPHEMERALSTORE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="no"
VERSIONUPDATECHECKS="TRUE"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDNSMasterIP="{{ ansible_dns.nameservers[0] }}"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraDefaultDomainName="{{ zimbra_domain }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128"
zimbraPrefTimeZoneId="{{ zimbra_timezone }}"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@{{ zimbra_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zimbra_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbra_require_interprocess_security="1"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
INSTALL_PACKAGES="zimbra-core {%- for zimbra_service in zimbra_services %} zimbra-{{zimbra_service}} {%- endfor %}"
