AVDOMAIN="{{ zimbra_domain }}"
AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="yes"
EXPANDMENU="no"
{% if zimbra_ldap_type %}
HOSTNAME="{{ zimbra_ldap_server }}"
{% else %}
HOSTNAME="{{ zimbra_server }}"
{% endif %}
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zimbra_ldap_server }}"
LDAPPORT="{{ zimbra_ldap_port }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
{% if zimbra_ldap_type %}
LDAPREPLICATIONTYPE="master"
{% else %}
LDAPREPLICATIONTYPE="replica"
{% endif %}
LDAPSERVERID="2"
MODE="{{ zimbra_http_mode }}"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="{{ zimbra_http_mode }}"
REMOVE="no"
RUNVMHA="no"
SMTPDEST="admin@{{ zimbra_domain }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_server }}"
STARTSERVERS="yes"
UPGRADE="yes"
USEEPHEMERALSTORE="no"
USESPELL="no"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_password }}"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="{{ zimbra_password }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraIPMode="ipv4"
zimbraPrefTimeZoneId="{{ zimbra_timezone }}"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core {%- for zimbra_service in zimbra_services %} zimbra-{{zimbra_service}} {%- endfor %}"
