AVDOMAIN="{{ zimbra_domain }}"
AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
EphemeralBackendURL="ldap://default"
HOSTNAME="{{ zimbra_server }}"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="{{ zimbra_ldap_server }}"
LDAPPORT="{{ zimbra_ldap_port }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
{% if zimbra_ldap_type %}
LDAPREPLICATIONTYPE="master"
{% else %}
LDAPREPLICATIONTYPE="replica"
{% endif %}
LDAPSERVERID="2"
MODE="{{ zimbra_http_mode }}"
MAILPROXY="TRUE"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPROXYPORT="993"
IMAPSSLPORT="7993"
POPPORT="7110"
POPSSLPORT="7995"
POPPROXYPORT="110"
POPSSLPROXYPORT="995"
PROXYMODE="{{ zimbra_http_mode }}"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ zimbra_domain }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_server }}"
SPELLURL="http://{{ zimbra_server }}:7780/aspell.php"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
TRAINSAHAM="ham@{{ zimbra_domain }}"
TRAINSASPAM="spam@{{ zimbra_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine@{{ zimbra_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_password }}"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="{{ zimbra_password }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDefaultDomainName="{{ zimbra_domain }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="TRUE"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128"
zimbraVersionCheckNotificationEmail="admin@{{ zimbra_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zimbra_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraPrefTimeZoneId="{{ zimbra_timezone }}"
zimbraVersionCheckInterval="1d"
zimbra_require_interprocess_security="1"
zimbraDNSMasterIP="{{ ansible_dns.nameservers[0] }}"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraWebProxy="TRUE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core {%- for zimbra_service in zimbra_services %} zimbra-{{zimbra_service}} {%- endfor %}"
