# /etc/sysconfig/traefik

# set this to use a deterministic id for this host
TRAEFIK_CONFIG={{ traefik_conf_dir }}/traefik.yml

# add any extra command line options to pass the traefik binary
EXTRA_OPTS=
