{% set host = ipsec_hosts[0] %}
{%- if host == ansible_fqdn -%}
{{ hostvars[host]['ipify_public_ip'] }} {{  hostvars[ipsec_hosts[1]]['ipify_public_ip'] }}
{%- else -%}
{{  hostvars[ipsec_hosts[1]]['ipify_public_ip'] }} {{  hostvars[ipsec_hosts[0]]['ipify_public_ip'] }}
 {%- endif -%}
 : PSK "{{ tunnel.secret|default(ipsec_default_secret) }}"