{% for user in proftpd_users %}
{{user.name}}:{{ enc_passwords.results[loop.index - 1].stdout }}:{{ user.user_id|default(proftpd_user_id) }}:{{ user.group_id|default(proftpd_group_id) }}::{{ user.home_dir|default(proftpd_home_dir)}}:{{ user.shell|default(proftpd_user_shell)}}
{% endfor %}
