################################################################
# Global configuration
################################################################

# Enable debug mode
#
# Optional
# Default: false
#
# debug = true

# Log level
#
# Optional
# Default: "ERROR"
#
logLevel = "INFO"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
#
# Optional
# Default: ["http"]
#
defaultEntryPoints = ["http", "https"]

# Entrypoints definition
#
# Optional
# Default:
[entryPoints]
    [entryPoints.traefik]
    address = ":{{ traefik_dashboard_port }}"
    [entryPoints.http]
    address = ":80"

# Traefik logs
# Enabled by default and log to stdout
#
# Optional
#
[traefikLog]

# Sets the filepath for the traefik log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
filePath = "{{ traefik_log_dir }}/traefik.log"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
format = "common"

# Enable access logs
# By default it will write to stdout and produce logs in the textual
# Common Log Format (CLF), extended with additional fields.
#
# Optional
#
[accessLog]

# Sets the file path for the access log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
filePath = "{{ traefik_log_dir }}/access.log"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
format = "common"

################################################################
# Web configuration backend
################################################################

# StatsD metrics exporter type
[api]
# Sme of the related entry point
#
# Optional
# Default: "traefik"
#
entryPoint = "traefik"

# Enabled Dashboard
#
# Optional
# Default: true
#
dashboard = true

# Enable debug mode.
# This will install HTTP handlers to expose Go expvars under /debug/vars and
# pprof profiling data under /debug/pprof.
# Additionally, the log level will be set to DEBUG.
#
# Optional
# Default: false
#
#  debug = false

  # Enable more detailed statistics.
  [api.statistics]

  # Number of recent errors logged.
  #
  # Default: 10
  #
  recentErrors = 10

# Ping definition
[ping]
# Name of the related entry point
#
# Optional
# Default: "traefik"
#
entryPoint = "traefik"

# Metrics definition
[metrics]

  # StatsD metrics exporter type
  [metrics.statsd]
  #
  # Required
  # Default: "localhost:8125"
  #
  #address = ":8125"

  # StatD push interval
  #
  # Optional
  # Default: "10s"
  #
  pushinterval = "10s"

  # Enable more detailed statistics.
  [metrics.statistics]

  # Number of recent errors logged.
  #
  # Default: 10
  #
  recentErrors = 10

################################################################
# Docker configuration backend
################################################################

# Enable Docker configuration backend
#[docker]

# Docker server endpoint. Can be a tcp or a unix socket endpoint.
#
# Required
# Default: "unix:///var/run/docker.sock"
#
# endpoint = "tcp://10.10.10.10:2375"

# Default domain used.
# Can be overridden by setting the "traefik.domain" label on a container.
#
# Optional
# Default: ""
#
# domain = "docker.localhost"

# Expose containers by default in traefik
#
# Optional
# Default: true
#
# exposedbydefault = true

################################################################
# File configuration backend
################################################################

# Enable File configuration backend
[file]
directory = "{{ traefik_conf_dir }}/traefik.d"
watch = true

