#!/bin/bash

export PATH=$PATH:/usr/local/bin

USER="{{ odoo_user }}"
GROUP="{{ odoo_group }}"
ADDONS_DIR="{{ odoo_addons_dir }}"

if [ "$UID" -ne 0 ]; then
    >&2
    echo "Script must be run with root privileges. Abording..."
    exit 1
fi

while getopts "hf:" OPT; do
    case $OPT in
        h)
            syntax
            exit 0
            ;;
        f)
            APP_FILE="${OPTARG}"
            ;;
        *)
            echo "Unknown option."
            syntax
            exit 1
            ;;
    esac
done

# FIX IT
echo This script does nothing on purpose for now
