[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ confd_user }}
Group={{ confd_group }}
WorkingDirectory={{ confd_conf_dir }}
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=control-group
GuessMainPID=no
ExecStart="/sbin/{{ confd_service_name }}"

