# ACL autorization
{% for acl_name, acl in bind_acl.items() %}
acl {{ acl_name }} {
{%  for addr in acl %}
    {{ addr }};
{% endfor %}
};

{% endfor -%}

# Bind logging configuration
logging {
    channel "default_file" {
        file "{{bind_log_dir}}/named.log" versions 3 size 1g;
        severity dynamic;
        print-time yes;
        print-category yes;
        print-severity yes;
    };

    channel "queries_file" {
        file "{{bind_log_dir}}/queries.log" versions 3 size 1g;
        severity info;
        print-time yes;
        print-category yes;
        print-severity yes;
    };

    channel "security_file" {
        file "{{bind_log_dir}}/security.log" versions 3 size 512m;
        severity dynamic;
        print-time yes;
        print-category yes;
        print-severity yes;
    };

    channel "rpz_file" {
        file "{{bind_log_dir}}/rpz.log" versions 3 size 30m;
        severity dynamic;
        print-time yes;
        print-category yes;
        print-severity yes;
    };

    category security   { "security_file"; };
    category queries    { "queries_file"; };
    category default    { "default_file"; };
    category general    { "default_file"; };
    category rpz        { "rpz_file"; };
};


# Bind global options configuration
options {
    version "{{bind_version}}";

    # Principaux fichiers et repertoires
    directory               "{{bind_cache_dir}}";
    dump-file               "{{bind_cache_dir}}/data/named_cache.db";
    statistics-file         "{{bind_cache_dir}}/data/named.stats";
    memstatistics-file      "{{bind_cache_dir}}/data/named_mem.stats";
    bindkeys-file           "/etc/named.iscdlv.key";
    managed-keys-directory  "{{bind_cache_dir}}/dynamic";
    pid-file                "{{bind_run_dir}}/named.pid";
    session-keyfile         "{{bind_run_dir}}/session.key";

    # Interface d'ecoute
    listen-on port 53 { {% for item in bind_address -%}{{ item }}; {% endfor -%} };
    listen-on-v6 port 53 { none; };
    #query-source address * port 53;
    interface-interval 1;

    # Activation de DNSSEC
    dnssec-enable {% if bind_dnssec_enable -%}yes{% else %}no{% endif -%};
    dnssec-validation {% if bind_dnssec_enable -%}yes{% else %}no{% endif -%};

    # Conformite a la RFC1035
    auth-nxdomain no;
    # Desactivation des notifications sur un resolveur
    # Les notifications n'iront que vers les ip declarees par la directive also-notify
    notify {% if bind_allow_notify[0] != 'none' -%}explicit{% else %}no{% endif -%};
    # Authorisation des requetes recursives (serveur resolveur)
    recursion {% if bind_recursion -%}yes{% else %}no{% endif -%};
    # Serveur vers qui transmettre les requetes pour les domaines inconnus
    forwarders { {% if bind_forwarders|length > 0 %}{% for item in bind_forwarders -%}{{ item }}; {% endfor -%}{% endif %}};

    # Liste des hotes autorises a effectuer des requetes recursives
    allow-recursion { {% if bind_recursion -%}{% for item in bind_allow_recursion -%}{{ item }}; {% endfor -%}{% else %}none; {% endif %}};
    # Liste des hotes autorises a interroger le serveur
    allow-query { {% for item in bind_allow_query -%}{{ item }}; {% endfor -%} };
    # Liste des hotes autorises a interroger le cache du serveur
    allow-query-cache { {% for item in bind_allow_query_cache -%}{{ item }}; {% endfor -%} };
    # Liste des hotes vers lesquels le transfert de zone est autorise
    allow-transfer { {% for item in bind_allow_transfert -%}{{ item }}; {% endfor -%} };
    # Notification lors du changement de zone
    allow-notify { {% for item in bind_allow_notify -%}{{ item }}; {% endfor -%} };
    also-notify { {% if bind_also_notify|length > 0 and bind_also_notify[0] != 'none' %}{% for item in bind_also_notify -%}{{ item }}; {% endfor -%}{% endif %}};

    # Nombre maximum de connexions TCP concurrentes acceptees
    tcp-clients 5000;
    # Nombre maximum de requetes recursives concurrentes acceptees (20ko de memoire par client)
    recursive-clients 20000;
    # Nombre maximum de clients en attente de reponse pour une meme requete
    clients-per-query 100;
    # Limite haute du nombre maximum de clients en attente de reponse pour une meme requete
    max-clients-per-query 500;
    # Ne retourne les informations AUTHORITY et ADDITIONAL lors de la reponse
    # que lorsque cela est necessaire. Permet d'ameliorer les performances
    minimal-responses yes;

    # Temps de conservation des reponses negatives en cache (1h au lieu de 3h par defaut)
    max-ncache-ttl 3600;
    # Taille du cache. 0 (valeur par defaut) signifie que bind purge les donnees du cache
    # que lorsque le TTL d'un enregistrement expire. Sinon, il supprime les donnees du cache
    # en utilisant l'algorithme LRU
    max-cache-size 4000M;

    # Taille maximum des paquets UDP
    #edns yes;
    edns-udp-size 4096;
    max-udp-size 4096;

{% if bind_extra_options|list|length() > 0 %}
    # Ansible additionnal custom configuration
{% for key in bind_extra_options %}
    {{ key }} {{ bind_extra_options[key] }};
{% endfor %}

{% endif %}
    # Enable RPZ
    //response-policy { zone "dev.null.rpz"; };
};

#controls {
#   inet 127.0.0.1 allow { localhost; } keys { "rndc-key"; };
#};
