#!/bin/python

import etcd3
import json
import os
import argparse
import gzip

etcd = etcd3.client()
data = {}

parser = argparse.ArgumentParser()
parser.add_argument("-f", "--file", help="Backup file to restore")
args = parser.parse_args()

if not args.file:
    print("Missing filename to restore\n")
    parser.print_help()
    exit(1)

if os.path.exists(args.file):
    with gzip.GzipFile(args.file, 'r') as fd:
        json_bytes = fd.read()

    json_str = json_bytes.decode('utf-8')
    data = json.loads(json_str)

    for key,value in data.items():
        print("Import: " + key)
        etcd.put(key, value)
else:
    print(args.file + ": No such file or directory")
    exit(1)

