# Output to Kafka
output {
  kafka {
    topic_id => "{{ ls_kafka_topic }}"
    codec => {{ ls_output_kafka_codec }}
    bootstrap_servers => "{% for h in ls_kafka_hosts %}{{ h }}:{{ ls_kafka_port }}{%- if not loop.last -%},{% endif %}{% endfor %}"
  }
}
