[defaults]

# some basic default values...
inventory      =  tests/hosts
remote_tmp     = ~/.ansible/tmp
#remote_tmp     = $HOME/.ansible/tmp
local_tmp      = ~/.tmp
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /var/tmp/ansible
fact_caching_timeout = 86400
