[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=spark
Group=spark
EnvironmentFile=/etc/default/spark
LimitNOFILE=8192
WorkingDirectory={{ spark_install_dir }}
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=control-group
GuessMainPID=no
{% if spark_master == inventory_hostname %}
ExecStart={{ spark_install_dir }}/sbin/start-master.sh
ExecStop={{ spark_install_dir }}/sbin/stop-master.sh
{% else %}
ExecStart={{ spark_install_dir }}/sbin/start-slave.sh spark://{{ spark_master }}:7077
ExecStop={{ spark_install_dir }}/sbin/stop-slave.sh
{% endif %}
