[Unit]
Description=Genieacs CWMP service
After=network.target

[Service]
Restart=on-failure
User={{genieacs_user}}
Group={{genieacs_group}}
ExecStart=/usr/local/bin/node {{ genieacs_install_dir }}/bin/genieacs-cwmp
EnvironmentFile=/etc/default/genieacs

[Install]
WantedBy=multi-user.target
