#!/bin/bash

# Append custom script to path
PATH=$PATH:/usr/local/sbin

# If the server is in cluster mode, backups should be saved in
# /srv/drbd/mysql/mysql-backup with a symlink to /var/backups/mysql
BACKUP_DIR={{ mysql_backup_dir }}

# Execute backup only if we are master/not in cluster
if [ $(command -v crm) ]; then

    # Server status
    HB_STATE=$(if [[ $(crm resource status | grep 'Masters:' | awk '{ print $3 }') == $(hostname) ]] ; then echo 'master' ; else echo 'backup' ; fi ;)

	case $HB_STATE in
		backup)
			echo "This server isn't master on the cluster, stopping backup."
			exit 0;
		;;
		master)
			echo "This server is master, starting backup process."
		;;
		*)
			echo "Unknown state: $HB_STATE";
            exit 0;
		;;
	esac
fi

# Backup max retention (1200 = 20h)
ROTATE_MIN=1200

# Deleting old backups and keeping 1 log
rm -f $BACKUP_DIR/backupdb-*.tar.gz
rm -f $BACKUP_DIR/backupdb-*.sql.gz
find $BACKUP_DIR/ -regex "${BACKUP_DIR}/backupdb-.*.log" -type f -mmin +$ROTATE_MIN -print -exec rm -f {} \; 2>&1

exit $?
