[centreon-stable-noarch]
name=Centreon open source software repository.
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/stable/noarch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-stable]
name=Centreon open source software repository.
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/stable/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-testing-noarch]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/testing/noarch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-testing]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/testing/$basearch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-unstable-noarch]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/unstable/noarch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-unstable]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/unstable/$basearch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-canary-noarch]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/canary/noarch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

[centreon-canary]
name=Centreon open source software repository. (UNSUPPORTED)
baseurl=http://yum.centreon.com/standard/{{ centreon_version }}/el7/canary/$basearch/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CES

